


img.fuse {
    top: 13vh;

    /* animation-name: burn;
    animation-duration: 90s; */
}

img.quit {
    left: 0vh;
    width: 30vh;
    top: 73vh;
    border-radius: 0% 0% 1000% 0%;
}

img.startround {
    top: 75vh;
    border-radius: 1000% 0% 0% 0%;
}

img.short {
    top: 16vh;
    border-radius: 50% 50% 70% 35%;
}

img.long {
    top: 42vh;
}

img.fail {
    top: 75vh;
    border-radius: 1000% 0% 0% 0%;
}

.text {
    font-size: 3vh;
    font-family: "Itim", sans-serif;
    color: #0e010d;
    position: absolute;
    text-align: center;
    width: 10vh;
}

#round {
    top: 3vh;
    left: 5vh;
}

#roundnum {
    top: 6vh;
    left: 5vh;
}

#player {
    top: 3vh;
    right: 5vh;
}

#playernum {
    top: 6vh;
    right: 5vh;
}

#time {
    top: 14.5vh;
    left: 31vh;
}


div.word {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    text-align: center;
    
    width: 100%;
    font-size: 6vh;

    z-index: 1;
}

#shortword {
    top: 27vh;
}

#longword {
    top: 55vh;
    height: 20vh;
    width: 80%;  
}

.control {
    position: absolute !important;
    height: 5vh;
    width: 5vh;
    top: 14vh;
    left: 2vh;
    color: blue;

    /* display: block;
    padding: 5vh 5vh; */
}

.icon {
    color: var(--accent);
}

#drumroll {
    top: 3vh;
    font-size: 2.5vh;
}
#winner {
    top: 9vh;
    font-size: 6vh;
}

#mvp {
    top: 20vh;
    left: var(--flagmargin);
    width: var(--flagwidth);
}
#lvp {
    top: 50vh;
    left: var(--flagmargin);
    width: var(--flagwidth);
}

#best {
    top: 50vh;
    right: var(--flagmargin);
    width: var(--flagwidth);
    
}
#worst {
    top: 20vh;
    right: var(--flagmargin);
    width: var(--flagwidth);
}


#mvpPlayer {
    top: 21vh;
    right: var(--wordmargin);
    font-size: var(--wordsize);
    text-align: left;
    color: white;
}

#lvpPlayer {
    top: 64vh;
    right: var(--wordmargin);
    font-size: var(--wordsize);
    text-align: left;
    color: white;
}

#bestTurn {
    top: 64vh;
    left: var(--wordmargin);
    font-size: var(--wordsize);
    text-align: right;
    color: white;
}

#worstTurn {
    top: 21vh;
    left: var(--wordmargin);
    font-size: var(--wordsize);
    text-align: right;
    color: white;
}


#scores {
    top: 21vh;
    width: 105%
}
#oddscore {
    top: 30vh;
    width: 80%;
}
#evenscore {
    top: 55vh;
    width: 80%;
}

#cont {
    top: 73vh;
    left: 0vh;
    width: 80%;
}

#endgame {
    top: 78vh;
    right: 0vh;
    width: 80%
}