body {
  --text: #0e010d;
  --background: #fff0fd;
  --primary: #f335da;
  --secondary: #fdbff5;
  --accent: #c10ba9;

  --flagwidth: 45%;
  --flagmargin: -2vh;

  --wordmargin: 16vh;
  --wordwidth: 80%;
  --wordsize: 2.5vh;

  font-family: "Itim", sans-serif;
  background: var(--background);
}


div.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42vh;
  height: 100px;
  position: relative;
}



img {
  position: absolute;
  width: 40vh;
  /* margin-left: 1vh;
  margin-right: 1vh; */
  /* border: 1px solid black; */
}

#title {
  top: 4vh;
  left: 4vh;
  width: 37vh;
}

#setup {
  top: 10vh;
  width: 106%;
}

#play {
  left: 26vh;
  top: 33vh;
  width: 17vh;
}

#dont {
  left: 1vh;
  top: 36vh;
  width: 100%;
}

#settings {
  top: 63vh;
}

#inputs {
  position: absolute;
  top: 70vh;
  width: 85%;
  height: 12.5vh;

  font-size: 1.6vh;
  color: white;
}

#settingsicon {
  position: absolute;
  top: -4.75vh;
  right: -.5vh;
}

#rounds {
  left: 18vh;
}

#seconds {
  width: 6vh;
  top: 13vh;
  left: -5vh;
}

#est-time {
  left: 15vh;
  top: 6vh;
  width: 9vh;
  font-size: 2vh;
  color: white;
  /* border: 1px solid black; */
}

#about {
  position: absolute;
  top: 90vh;
  right: 3vh;
  font-size: 1.5vh;
  text-align: right;
  width: 70%;
  /* border: 1px solid black; */
}