body {
  --text: #0e010d;
  --background: #fff0fd;
  --primary: #f335da;
  --secondary: #fdbff5;
  --accent: #c10ba9;

  --flagwidth: 40%;
  --flagmargin: -2vh;

  font-family: "Itim", sans-serif;
  background: var(--background);
}


div.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42vh;
  height: 100px;
  position: relative;

}

#settingsicon {

}

img {
  position: absolute;
  width: 40vh;
  margin-left: 1vh;
  margin-right: 1vh;
  /* border: 1px solid black; */
}

#title {
  top: 1vh;
  left: -10vh;
  width: 50vh;
}

#setup {
  top: 10vh;
}

#dont {
  top: 30vh;
}

#play {
  left: 23vh;
  top: 29vh;
  width: 17vh;
}

#settings {
  top: 54vh;
}

#inputs {
  position: absolute;
  top: 62vh;
  width: 85%;

  font-size: large;
  color: white; 
}

#rounds {
  position: absolute;
  left: 18vh;
}

#seconds {
  width: 6vh;
  top: 5vh;
  color: white;
}

#est-time {
  left: 15vh;
  top: 7vh;
  font-size: 2vh;
  color: white;
}